body {
  margin: 0;
  background: #fff9ae;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.pikachu {
  position: relative;
  width: 200px;
  height: 300px;
}

/* Ears */
.ear {
  position: absolute;
  width: 20px;
  height: 80px;
  background: #fcd800;
  top: 0;
  border-radius: 50% 50% 0 0;
  transform-origin: bottom;
}
.ear::after {
  content: '';
  position: absolute;
  top: 0;
  width: 100%;
  height: 30px;
  background: black;
  border-radius: 20px 20px 0 0;
}
.ear.left {
  left: 10px;
  transform: rotate(-25deg);
}
.ear.right {
  right: 10px;
  transform: rotate(25deg);
}

/* Head */
.head {
  position: absolute;
  top: 40px;
  left: 50%;
  transform: translateX(-50%);
  width: 140px;
  height: 140px;
  background: #fcd800;
  border-radius: 50%;
  box-shadow: 0 0 0 3px #000;
}

/* Eyes */
.eye {
  position: absolute;
  width: 20px;
  height: 20px;
  background: black;
  border-radius: 50%;
  top: 40px;
}
.shine {
  position: absolute;
  width: 7px;
  height: 7px;
  background: white;
  border-radius: 50%;
  top: 4px;
  left: 4px;
}
.eye.left {
  left: 30px;
}
.eye.right {
  right: 30px;
}

/* Cheeks */
.cheek {
  position: absolute;
  width: 20px;
  height: 20px;
  background: red;
  border-radius: 50%;
  top: 80px;
}
.cheek.left {
  left: 10px;
}
.cheek.right {
  right: 10px;
}

/* Mouth */
.mouth {
  position: absolute;
  top: 90px;
  left: 50%;
  transform: translateX(-50%);
  width: 30px;
  height: 20px;
  background: #990000;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
}

/* Body */
.body {
  position: absolute;
  top: 160px;
  left: 50%;
  transform: translateX(-50%);
  width: 100px;
  height: 100px;
  background: #fcd800;
  border-radius: 50% 50% 20% 20%;
  box-shadow: 0 0 0 3px #000;
}

/* Arms */
.arm {
  position: absolute;
  width: 30px;
  height: 40px;
  background: #fcd800;
  border-radius: 50%;
  top: 160px;
}
.arm.left {
  left: -10px;
  transform: rotate(-20deg);
}
.arm.right {
  right: -10px;
  transform: rotate(20deg);
}

/* Feet */
.foot {
  position: absolute;
  width: 20px;
  height: 15px;
  background: #fcd800;
  border-radius: 10px;
  bottom: 10px;
}
.foot.left {
  left: 40px;
}
.foot.right {
  right: 40px;
}

/* Tail */
.tail {
  position: absolute;
  width: 60px;
  height: 20px;
  background: #fcd800;
  right: -50px;
  bottom: 70px;
  transform: rotate(20deg);
  box-shadow: 3px 3px 0 2px black;
}
.tail::after {
  content: '';
  position: absolute;
  top: -20px;
  left: 20px;
  width: 60px;
  height: 20px;
  background: #fcd800;
  transform: rotate(-40deg);
  box-shadow: 3px 3px 0 2px black;
}


